dj-database-url==0.4.1
Django==1.9.7
Flask==0.10.1
Flask-WTF==0.12
gunicorn==19.6.0
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
mongokit==0.9.1.1
opencage==1.1.4
path.py==10.1
pbr==1.10.0
psycopg2==2.6.2
pymongo==2.8
requests==2.9.1
six==1.10.0
stevedore==1.15.0
virtualenv==15.0.2
virtualenv-clone==0.2.6
virtualenvwrapper-powershell==12.7.8
Werkzeug==0.11.4
whitenoise==2.0.6
WTForms==2.1
